*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  color: #030303;
  font-weight: 400;
  line-height: 1.6; }

.container {
  background-image: linear-gradient(to bottom, #F6EFE8 50%, #fff 50%);
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: 1fr [center-start] repeat(6, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] 1fr; }

.btn {
  text-transform: uppercase;
  border-radius: .5rem; }
  .btn--primary {
    color: #fff;
    background-color: #612069;
    border: none; }
  .btn--secondary {
    background: none;
    color: #612069;
    border: 1px solid currentColor; }

.heading-1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: #030303;
  line-height: 1; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 6.4rem;
  grid-column: center-start / center-end;
  display: flex; }
  .header__logo {
    width: 12rem; }
  .header__menu {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center; }
    .header__menu--right {
      margin-left: auto; }
  .header__item {
    margin-left: 2.4rem; }
  .header__item--main {
    font-size: 1.4rem;
    font-weight: 700;
    color: #030303; }
  .header__btn {
    padding: 1.2rem 2rem;
    font-size: 1.4rem; }

.hero {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr); }
  .hero__body-text {
    font-size: 2rem; }
  .hero__btn {
    padding: 2rem 5rem;
    font-size: 1.4rem; }

.welcome__textbox {
  grid-column: 1 / 5; }

.welcome__video {
  grid-column: 5/9;
  margin-left: auto;
  margin-bottom: 10rem; }

.better-way__textbox {
  grid-column: 6/9; }

.better-way__video {
  grid-column: 1 / 6;
  grid-row: 2 / 3; }

.better-way__heading {
  font-size: 5rem; }
