.story {
    grid-column: center-start / center-end;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
        // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);
        // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        // width: 100%;
        grid-column: 1 / -1
    }


    &__heading {
        width: 80%;
        text-align: center;
        line-height: 6rem;
        margin-bottom: 2rem;
    }
    
    &__link {
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-blue-dark;
        margin-bottom: 8rem;
        
        &::before {
            content: "";
            display: block;
            height: 2px;
            background-color: currentColor;
            width: 0rem;
            transform: translateY(3rem);
            transition: all 0.35s;
        }
        
        &::after {
            content: "\2192";
            margin-left: 1rem;
        }
        
        &:hover {
            &::before {
                width: 24rem;
            }
        }
        
    }


    &__details {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-gap: 10rem;

        align-items: center;

        width: 110%;

        @media only screen and (max-width: $bp-largest) {
            // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);
            // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
            width: 100%;
            grid-gap: 4rem;
        }

        
    }

    &__text {
        @media only screen and (max-width: $bp-largest) {
            // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);
            // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
            margin-left: 4rem;
        }

        &--body {
            font-weight: 300;
            font-style: italic;
            font-size: 2.8rem;
            line-height: 4rem;
            margin-bottom: 2rem;
        }

        &--name {
            font-weight: 700;
            font-size: 1.8rem;
        }

    }

    &__picture {
        margin-left: auto;

        @media only screen and (max-width: $bp-largest) {
            width: 50vw;
        }

        
    }

    &__brands {
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        // margin-top: 8rem;
        
        @media only screen and (max-width: $bp-largest) {
            width: 90%;
        }

        & > img {
            height: 15%;
            margin-top: 2rem;
            // padding: 0 4rem;

            @media only screen and (max-width: $bp-largest) {
                height: 10%;
            }
        }

    }
}